{% extends 'base.html'%}
{% block head%}
<title>SOA</title>

{%endblock%}

{%block body%}


    <div class="col-sm-8 text-left">
      <div class="jumbotron">
        <h1 class="display-3">Tabla Clientes</h1>
        <p class="lead">This is a simple table from dvrental database, Stores Customers Names
          featured content.</p>
        <hr class="my-4">
        <p>The DVD rental database represents the business processes of a DVD rental store. For more information visit website.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="https://www.postgresqltutorial.com/postgresql-sample-database/" role="button">Learn more</a>
        </p>
      </div>
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-9">
          <div class="table-responsive-md">
            <table id="tblmasters" class="table table-hover w-auto table-bordered">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>First_Name</th>
                  <th>Last_Name</th>
                  <th>Email</th>
                  <th>Direccion</th>
                  <th>Distric</th>
                </tr>
              </thead>
              <tbody> 
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card text-white bg-primary mb-3">
        <div class="card-header">Datos</div>
        <div class="card-body">
          <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="add Valor">
          </form>
        </div>    
      </div>
      <!--bajd-->
    </div>
  </div>
</div>
<br>
<br>
<br>


{%endblock%}