{% extends 'base.html'%}

{% block head%}
<title>Obtner valores de DataBase a pdf</title>

{%endblock%}

{%block body%}

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <br>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
    </div>
    <div class="col-sm-8 text-left">
      
      <div class="table-responsive">
        <table id="tblmaster" class="table table-hover w-auto table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Country</th>
              <th>Last_update</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="add Valor">
      </form>
      <div class="jumbotron">
        <h1 class="display-3">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
          featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
      </div>

    </div>
    <div class="col-sm-2 sidenav">
      <br>
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>


{%endblock%}