{% extends 'base.html'%}

{% block head%}

{%endblock%}

{%block body%}

<div class="content">
    <h1>Tablita de la salada</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Country</th>           
            <th>Last_update</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a href="">Delete</a>
                <br>
                <a href="">Update</a>
            </td>
        </tr>
    </table>
</div>

{%endblock%}