<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Reporte de base de datos {{namedb}}</title>
</head>
<body>
<div class="container-fluid">
    <div class="row bg-danger">
        <div class="col-1"></div>
        <div class="row">
            <div class="col-lg-12 bg-dark">
                <br>
                <img src="http://cdjuarez.tecnm.mx/img/header/logo_itcj.png" alt="">
                <h2 class="text-light">Victor Nava & Juan Orozoco</h2>
                <h3 class="text-light">Fecha:{{dates}}</h3>
            </div>
            
        </div>
        <div class="col-1"></div>
       <div class="row">
        <div class="col-sm-12 bg-light"></div>
        <div class="row">
            <div class="col-sm-12 bg-primary"></div>
            <div class="col-lg-12">
                <br>
                <div class="jumbotron">
                    <h1>Bootstrap Tutorial</h1>
                    <p>Bootstrap is the most popular HTML, CSS...</p>
                  </div>
                  <div class="jumbotron">
                    <h1>Bootstrap Tutorial</h1>
                    <p>Bootstrap is the most popular HTML, CSS...</p>
                  </div>
                  <div class="jumbotron">
                    <h1>Bootstrap Tutorial</h1>
                    <p>Bootstrap is the most popular HTML, CSS...</p>
                  </div>
                <h2 class="text-light">Tabla base de datos {{name}}</h2>
                <div class="table-responsive-md">
                    <table id="tblmaster" class="table table-hover w-auto table-bordered">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Country</th>
                          <th>Last_update</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
            </div>
        </div>
        
       </div>
       
    </div>
</div>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>